<div id="tetris" data-dojo-attach-point="tetrisDiv">
	<div id="menu" data-dojo-attach-point="menuDiv">
	  <p id="start" data-dojo-attach-point="startDiv"><a href="javascript:eval("this.play()");">Press Space to Play.</a></p>
	  <p><canvas id="upcoming" data-dojo-attach-point="upcomingDiv"></canvas></p>
	<p><label class="control-label" data-dojo-attach-point="nameLabel">Label</label>
</p>	
	<p><input type="text" class="form-control" placeholder="placeholder" data-dojo-attach-point="nameInput" ></input></p>

	  <p>Score <span id="score" data-dojo-attach-point="scoreDiv">00000</span></p>
	  <p>Rows <span id="rows" data-dojo-attach-point="rowsDiv">0</span></p>
	  <p>Level <span id="level" data-dojo-attach-point="levelDiv">0</span></p>
	  <p>Speed <span id="speed" data-dojo-attach-point="speedDiv">0</span></p>
	</div>
    	<canvas id="canvas" data-dojo-attach-point="canvasDiv">
     	 Sorry, this example cannot be run because your browser does not support the &lt;canvas&gt; element
    	</canvas>

</div>

